.photo-grid__item {
  font-size: 0;
  line-height: 0;
  max-width: 100%;
  /*Я бы использовал это свойство, но ревьюер не разрешил делать картинки ссылками
  а порождать дополнительные блоки для грида я не вижу смысла*/
  /*object-fit: cover;*/
  /*height: 12vh;*/
}
