@import url(./__title/intro__title.css);
@import url(./__text/intro__text.css);
@import url(./__list/intro__list.css);
@import url(./__list-item/intro__list-item.css);
@import url(./__list-item-bold-text/intro__list-item-bold-text.css);

.intro {
  max-width: 984px;
  margin: 92px auto 0;
}

@media screen and (max-width: 1024px) {
  .intro {
    margin: 92px 48px 0;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    margin: 88px 24px 0;
  }
}

@media screen and (max-width: 320px) {
  .intro {
    margin: 64px 16px 0;
  }
}
