.place__link {
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  transition: opacity .2s linear;
  color: #fff;
  margin-top: 12px;
  display: inline-block;
}

.place__link:hover {
  opacity: .8;
}
