@import url(./__title/place__title.css);
@import url(./__image/place__image.css);
@import url(./__website/place__website.css);
@import url(./__url-heading/place__url-heading.css);
@import url(./__link/place__link.css);
@import url(./__description/place__description.css);
@import url(./__paragraph/place__paragraph.css);

.place {
  display: grid;
  grid-template-columns: 460px 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 48px;
}


@media screen and (max-width: 1024px) {
  .place {
    grid-template-columns: 440px 1fr;
    grid-column-gap: 32px;
  }
}

@media screen and (max-width: 768px) {
  .place {
    grid-template-columns: 340px 1fr;
    grid-column-gap: 28px;
  }
}

@media screen and (max-width: 767px) {
  .place {
    grid-template-columns: 50% 1fr;
    grid-column-gap: 28px;
  }
}

@media screen and (max-width: 600px) {
  .place {
    grid-template-columns: none;
    grid-template-rows: auto;
    grid-row-gap: 32px;
  }
}
